/*==============================
## BASIC STYLES SETUP 
================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Titillium Web", sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.4rem;
}
/*==============================
## HEADING 
================================*/
h1 {
  font-size: 4.2rem;
  color: #fff;
  line-height: normal;
}
ul,
li {
  list-style-type: none;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/*==============================
## REUSEABLE COMPONENT
================================*/
.row {
  max-width: 114rem;
  margin: 0 auto;
}
section {
  padding: 8rem 0;
}
h2 {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 600;
  margin: 0 0 2rem 0;
  color: #fff;
}
h2::after {
  content: "";
  display: block;
  height: 0.3rem;
  width: 8.5rem;
  margin: auto;
  margin-top: 2rem;
  background: #fff;
}
/* Little Description - Praghraph*/
.little-description {
  font-size: 1.8rem;
  line-height: 3rem;
  width: 60%;
  margin-left: 20%;
}
h3 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box {
  padding: 1%;
}
.box > p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: normal;
  margin-top: 2rem;
}
/* BUTTON */
.btn:link,
.btn:visited,
.btn {
  background: #333;
  border-radius: 0.3rem;
  border-bottom: 0.3rem solid #000;
  color: #fff;
  font-size: 1.6rem;
  padding: 1.5rem 6rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 4.5rem;
}

/*==============================
##  HEADER SECTION
================================*/
header {
  background: linear-gradient(rgb(135, 80, 156, 0.9), rgba(135, 80, 156, 0.8)),
    url(./img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 85vh;
  position: relative;
}
.logo {
  height: 3.5rem;
  margin-top: 3.5rem;
  float: left;
}
ul.main-nav {
  float: right;
  margin-top: 4rem;
}
ul.main-nav > li {
  display: inline-block;
  margin-left: 1.2rem;
}
ul.main-nav > li:first-child {
  margin-left: 0;
}

ul.main-nav > li > a:link,
ul.main-nav > li > a:visited {
  padding: 0.4rem 1rem;
  color: #fff;
  background-color: rgba(100, 58, 121, 0);
  border-radius: 0.3rem;
  display: inline-block;
  font-size: 1.6rem;
  transition: all 0.4s ease;
  text-transform: uppercase;
  text-decoration: none;
}
ul.main-nav > li:hover > a:link,
ul.main-nav > li:hover > a:visited {
  background-color: rgba(100, 58, 121, 1);
}
ul.main-nav > li.active > a {
  background-color: rgba(100, 58, 121, 1);
  border-radius: 0.3rem;
}
.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.btn-hero:link,
.btn-hero:visited {
  background: #eb7d4b;
  border-color: #c86a40;
}

/*==============================
##  SERVICES SECTION
================================*/
.services-section {
  color: #fff;
  text-align: center;
  /* background-color: #17c2a4; */
  background: linear-gradient(rgb(23, 194, 164, 0.8), rgba(23, 194, 164, 0.8)),
    url(./img/services-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.services-section > h2::after {
  background-color: #14a58c;
}
.services-section img.services-icon {
  height: 12rem;
  margin: 4.5rem 0 3.5rem;
}

/*==============================
##  TEAM MEMBER SECTION
================================*/
.teams-section {
  color: #fff;
  text-align: center;
  background: linear-gradient(rgb(231, 241, 248, 0.8), rgba(231, 241, 248, 0.8)),
    url(./img/team-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}
.teams-section h2 {
  color: #3c4761;
}
.teams-section h2::after {
  background: #c8d9e5;
}
.teams-section p {
  color: #3c4761;
}
.team-members {
  margin: 4.5rem 0 3.5rem;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}
.teams-section h3 {
  color: #27283d;
}
.teams-section span.role {
  color: #30bab6;
  margin-top: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
  display: inline-block;
}
.teams-section .box p {
  color: #3c4761;
}

.teams-section .social-link {
  margin-top: 4.5rem;
}
.teams-section .social-link li {
  display: inline-block;
  margin: 0.5rem;
}
.social-link li a:link {
  color: #fff;
}
.social-link ul li a {
  width: 3rem;
  height: 3rem;
  display: block;
  border-radius: 50%;
  font-size: 1.4rem;
  color: #fff;
  background: #bdd1df;
  padding: 0;
  line-height: 3rem;
  text-align: center;
  transition: all 0.3s ease;
}
.social-link ul li:hover a {
  color: #fff;
  transform: rotate(360deg);
  background: #3c4761;
}
/*==============================
##  SKILLS SECTION
================================*/
.skills-section {
  color: #fff;
  text-align: center;
  background: linear-gradient(rgb(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url(./img/skill-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}
.skills-section h2 {
  color: #3c4761;
}
.skills-section p {
  color: #3c4761;
}
/*** RADIAL PROGRESS ***/
/* Circumference = 2πr */
/* π = 3.1415926535898 */
/* r = 35 */

svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress circle {
  fill: rgba(189, 172, 172, 0);
  stroke: rgb(143, 46, 46);
  stroke-dashoffset: 219.91148575129; /* Circumference */
  stroke-width: 10;
}

svg.radial-progress circle.incomplete {
  opacity: 0.25;
}

svg.radial-progress circle.complete {
  stroke-dasharray: 219.91148575129; /* Circumference */
}

svg.radial-progress text {
  fill: rgb(29, 28, 28);
  font: 400 1em/1 "Oswald", sans-serif;
  text-anchor: middle;
}

/*** COLORS ***/
/* Primary */

svg.radial-progress:nth-of-type(6n + 1) circle {
  stroke: #a2ed56;
}

/* Secondary */

svg.radial-progress:nth-of-type(6n + 2) circle {
  stroke: #83e4e2;
}

/* Tertiary */

svg.radial-progress:nth-of-type(6n + 3) circle {
  stroke: #fd6470;
}

/* Quaternary */

svg.radial-progress:nth-of-type(6n + 4) circle {
  stroke: #fca858;
}

/* Quinary */

svg.radial-progress:nth-of-type(6n + 5) circle {
  stroke: #fddc32;
}
